<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>MadLibs</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
	<body ng-controller="madlibsController as madlibs">
		<h1>Mad Libs</h1>
		<div id="options">
			<form>
				<div class="input-group">
					<span class="input-group-addon">Nouns</span>
					<input type="text" class="form-control" placeholder="noun,noun,noun,noun" ng-model="madlibs.words.nouns">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Verbs</span>
					<input type="text" class="form-control" placeholder="verb,verb,verb,verb" ng-model="madlibs.words.verbs">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Adjectives</span>
					<input type="text" class="form-control" placeholder="adjective,adjective,adjective,adjective" ng-model="madlibs.words.adjectives">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Adverbs</span>
					<input type="text" class="form-control" placeholder="adverb,adverb,adverb,adverb" ng-model="madlibs.words.adverbs">
				</div>
			    <label ng-repeat="story in madlibs.stories">
			      <input type="radio" ng-model="madlibs.currStory" ng-value="story">
			      {{story}}
			    </label>
				<button ng-click="madlibs.generateStory()">Generate</button>
			</form>
		</div>
		<div id="story">
			<h2>{{madlibs.storyName}}</h2>
			<p>{{madlibs.storyText}}</p>
		</div>
		
		<br>
		<br>
		<br>

		<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyDf2ElEQxVzRSJaHmjPa5ALC85JPUva2gs",
		    authDomain: "madlibs-85bba.firebaseapp.com",
		    databaseURL: "https://madlibs-85bba.firebaseio.com",
		    storageBucket: "",
		    messagingSenderId: "98330842356"
		  };
		  firebase.initializeApp(config);
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="script/app.js"></script>
		<script src="script/controllers.js"></script>
	</body>
</html>
